doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Document
    link(rel='shortcut icon' type='image/x-icon' href='')
    link(rel='stylesheet' href='/css/bundle.css')
    link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet')
div(style='text-align: center; margin: 50px 0;')
    div.main-head natasa vesic
    div.sub-head torte
.Container
    .Collections
        .Collection(style='background-image: url(https://res.cloudinary.com/dec207odq/image/upload/v1530391900/decije/decije_15.jpg)')
            .contents
                a(href='/torte/decije') dečije
        .Collection(style='background-image: url(https://res.cloudinary.com/dec207odq/image/upload/v1530389333/svecane/svecane-4.jpg)')
            .contents
                a(href='torte/svecane') svečane
        .Collection(style='background-image: url(https://res.cloudinary.com/dec207odq/image/upload/v1530389847/svadbene/svad-7.jpg)')
            .contents
                a(href='torte/svadbene') svadbene
        .Collection(style='background-image: url(https://res.cloudinary.com/dec207odq/image/upload/v1530390458/zivotinje/z-6.jpg)')
            .contents
                a(href='torte/torte-sa-zivotinjama') torte sa životinjama
        .Collection(style='background-image: url(https://res.cloudinary.com/dec207odq/image/upload/v1530391011/sportske/sportske_1.jpg)')
            .contents
                a(href='torte/sportske-torte') sportske
        .Collection(style='background-image: url(https://res.cloudinary.com/dec207odq/image/upload/v1530391563/crtani/crtani_11.jpg)')
            .contents
                a(href='torte/crtani') crtani junaci
        .Collection(style='background-image: url(https://res.cloudinary.com/dec207odq/image/upload/v1530384959/bajke/bajke-6.jpg)')
            .contents
                a(href='torte/bajke-i-dvorac') bajke i dvorac torte
footer
    div.contact Kontakt: 064 233 29 92
    //- ul
    //-     li.title Kontakt
    //-     li 0642337992

.Lightbox
    img.portrait

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='/js/bundle.js')
