doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Document
    link(rel='shortcut icon' type='image/x-icon' href='')
    link(rel='stylesheet' href='/css/bundle.css')
    link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet')
div(style='text-align: center; margin: 75px 0;')
    h2 natasa vesic
    h3 torte
.Container
    .Collections
        .Collection(style='background-image: url(https://res.cloudinary.com/dec207odq/image/upload/v1530376267/landing/3786-helsinkinature1-jpg.jpg)')
            .contents
                a(href='/torte/page-1') page-1
        .Collection(style='background-image: url(https://res.cloudinary.com/dec207odq/image/upload/v1530376265/landing/brandenburg_germany_nature_217279.jpg)')
            .contents
                a(href='torte/page-2') page-1
        .Collection(style='background-image: url(https://res.cloudinary.com/dec207odq/image/upload/v1530376265/landing/treephoto22.jpg)')
            .contents
                a(href='torte/page-3') page-1
        .Collection(style='background-image: url(https://res.cloudinary.com/dec207odq/image/upload/v1530376265/landing/Walking-in-Nature.jpg)')
            .contents
                a(href='torte/page-4') page-1
        .Collection(style='background-image: url(https://res.cloudinary.com/dec207odq/image/upload/v1530376265/landing/Hopetoun_falls.jpg)')
            .contents
                a(href='torte/page-5') page-1
        .Collection(style='background-image: url(https://res.cloudinary.com/dec207odq/image/upload/v1530376263/landing/flower_violet_nature_220177.jpg)')
            .contents
                a(href='torte/page-6') page-1
        .Collection(style='background-image: url(https://res.cloudinary.com/dec207odq/image/upload/v1530376264/landing/winter-landscape.jpg)')
            .contents
                a(href='torte/page-7') page-1
footer
    ul
        li.title Contact
        li phone
        li facebook
.Lightbox
    img.portrait

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='/js/bundle.js')
