.Collections,
.Posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Collection,
.Post-teaser {
  width: 33.33%;
  height: 250px;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.Collection .contents,
.Post-teaser .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
  opacity: 0;
  z-index: 15;
  position: absolute;
  top: 0;
  left: 0;
}

.Collection:hover .contents,
.Post-teaser:hover .contents {
  opacity: 1;
}

.Collection .contents a,
.Post-teaser .contents a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .7rem;
  letter-spacing: 1px;
  border: 2px solid rgba(255, 255, 255, .25);
  padding: 10px 25px;
}

.Collection .contents a:hover,
.Post-teaser .contents a:hover {
  background: white;
  color: black;
  text-decoration: none;
}
.Exif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, .8);
  color: rgba(255, 255, 255, .6);
  -webkit-transition: opacity 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 400ms cubic-bezier(0.23, 1, 0.32, 1);
  pointer-events: none;
  font-size: .85rem;
  opacity: 0;
  z-index: 200;
}

.Exif table {
  -webkit-transition: top 800ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 800ms cubic-bezier(0.23, 1, 0.32, 1);
  position: relative;
  top: 300px;
}

.Exif.show {
  opacity: 1;
  pointer-events: all;
}

.Exif.show table {
  top: 0;
}

.Exif td:first-child {
  text-align: right;
  font-weight: 400;
  padding-right: 10px;
  color: white;
}

.Exif-close {
  position: absolute;
  top: 50px;
  right: 50px;
  border: 1px solid rgba(255, 255, 255, .3);
  width: 35px;
  height: 35px;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;
  font-size: .75rem;
  color: rgba(255, 255, 255, .5);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.Exif-close:hover {
  border-color: white;
  color: white;
}

footer {
  font-family: "Roboto";
  padding: 50px 25px;
  font-size: .75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul {
  list-style: none;
  margin-right: 25px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

footer ul li.title {
  font-weight: 400;
  color: white;
}

footer ul:last-child li {
  width: 50%;
}

.Images {
  margin: 0 100px;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -webkit-column-rule-width: 0;
     -moz-column-rule-width: 0;
          column-rule-width: 0;
}

.Image {
  display: inline-block;
  margin-bottom: 25px;
  position: relative;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.Image:hover .Image-overlay {
  opacity: 1;
}

.Image-overlay {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}

.Image-overlay::after {
  display: block;
  content: '+';
  color: rgba(255, 255, 255, .95);
  text-shadow: 0 1px 2px black;
}

.Image img {
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
  background: #111;
}

.Image:hover {
  opacity: 1 !important;
}
body.light {
  background: white;
  color: #515151;
}

body.light .Logo {
  color: #121212;
}

body.light .Logo .img > span {
  background: #121212;
}

body.light h1,
body.light h2,
body.light h3,
body.light h4 {
  color: #121212;
  font-weight: 400;
  font-family: "Roboto";
  margin-bottom: 10px;
}

body.light h2::before,
#disqus_thread::before {
  display: block;
  border-top: 1px dotted #ddd;
  width: 75%;
  margin: 75px auto;
  content: ' ';
}

body.light h3 {
  margin-top: 50px;
}

body.light a {
  color: #111;
  font-weight: 400;
}

body.light a:hover {
  text-decoration: underline;
}

body.light footer a {
  color: #A0A2A4;
}

body.light footer a:hover {
  color: #111;
  text-decoration: none;
}

body.light footer ul li.title {
  color: #1C1D21;
}

.Lightbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .95);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.Lightbox.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Lightbox img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.Lightbox img.portrait {
  height: 90%;
}

.Lightbox img.landscape {
  width: 90%;
}

body.light .Lightbox {
  background: rgba(255, 255, 255, .95);
}
/* 
.Logo {
  color: white;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Logo .img {
  margin: 25px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50px;
  opacity: .75;
  -webkit-transform: scale(.5, .5);
          transform: scale(.5, .5);
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.Logo .img:hover {
  opacity: 1;
}

.Logo .img > span {
  width: 25px;
  height: 25px;
  background: white;
}

.Logo .img > span:nth-of-type(1) {
  opacity: .75;
}

.Logo .img > span:nth-of-type(2) {
  opacity: .50;
}

.Logo .img > span:nth-of-type(3) {
  opacity: .25;
}

.Logo .img > span:nth-of-type(4) {
  opacity: .15;
}

.Logo .name {
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: 2px;
}

.Logo .text {
  display: block;
  text-transform: uppercase;
  font-size: .55rem;
  letter-spacing: 8.6px;
  opacity: .3;
} */

* {
  box-sizing: border-box;
}

body {
  font: 16px/1.5 "Open Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.1px;
  padding: 0;
  margin: 0;
  background: #090909;
  color: #444;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
} */

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: white;
}

.Post {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 75px;
  line-height: 1.75;
  margin-bottom: 75px;
}

.Post img {
  width: 100%;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.Post-teaser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Post-teaser .name {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: .8rem;
  padding: 10px 0;
  background: rgba(255, 255, 255, .9);
}
@media screen and (max-width: 960px) {
  .Images {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}

@media screen and (min-width: 1600px) {
  .Images {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
  }
}

@media screen and (min-width: 1800px) {
  .Images {
    -webkit-column-count: 5;
       -moz-column-count: 5;
            column-count: 5;
  }
}


h2, h3 {
  font-family: 'Lato', sans-serif;
}